fieldset.invoice-issuer, fieldset.client-details{
	display: inline; 
	vertical-align: top;
}

div.view-invoice-items{
	margin-bottom: 15px;	
	margin-top: 15px;
}

fieldset.bank-details{
	width: 360px; 
	margin-top: 15px;
}

.field-field-full-name{
	width: 260px; 
}

div.view-footer-invoice-items{
	text-align: right;
	width: 580px;
}

div.view-invoice-items, div.view-content-invoice-items table{
	width: 580px;
}

div.balance_due{
  font-weight: bold;
}